button::-moz-focus-inner {
  border: 0;
}
/* minimal
*******************************************************************************/
.answer {
  border-top: 1px solid #efefef;
  -moz-box-shadow: #000000 0 1px 0;
  -webkit-box-shadow: #000000 0 1px 0;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#ededed));
  background: -webkit-linear-gradient(top, #f7f7f7, #ededed);
  background: -moz-linear-gradient(top, #f7f7f7, #ededed);
  background: -ms-linear-gradient(top, #f7f7f7, #ededed);
  background: -o-linear-gradient(top, #f7f7f7, #ededed);
  box-shadow: #000000 0 1px 0;
  color: #383838;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 13px;
  padding: 9.5px 19px;
  text-decoration: none;
  vertical-align: middle;
}
.answer:active {
  background: #d4d4d4;
}
.answer:hover {
  background: #fafafa;
  color: #000000;
}
.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
#quiz {
  padding: 0;
  max-width: 600px;
  font-size: 1em;
  font-family: Helvetica, Arial, sans-serif;
  list-style: none;
  overflow: hidden;
  text-align: center;
}
#quiz > li {
  display: none;
}
#quiz > li.question {
  display: hidden;
}
#quiz > li.question:first-child {
  display: block;
}
#quiz dl {
  overflow: hidden;
}
#quiz dl dt {
  margin: 0 10px;
  font-family: Georgia, serif;
  font-weight: bold;
}
@font-face {
  font-family: 'MetaSerifWeb-Bold';
  src: url("http://www.theonion.com/static/onion/fonts/MetaSerifWeb-Bold.woff") format("woff");
}
@media only screen and (min-width: 650px) {
  #quiz dl dt {
    font-family: 'MetaSerifWeb-Bold', Georgia, serif;
    font-weight: normal;
  }
}
#quiz dl dt figure {
  margin: 0;
  width: 100%;
  text-align: center;
  margin: 0 0 10px 0;
}
#quiz dl dt h3 {
  margin: 0 0 10px !important;
}
#quiz dl dd {
  margin: 0;
  padding: 0;
}
#quiz .desc p,
#quiz .answer p,
#quiz .desc span,
#quiz .answer span {
  margin: 10px;
}
#quiz .question {
  text-align: left;
}
#quiz .answer {
  font-size: 90%;
  cursor: pointer;
  padding: 10px 0 15px;
}
#quiz .answer:hover span {
  text-decoration: underline;
}
#quiz .answer figure img {
  opacity: 0.75;
  width: 100%;
}
#quiz .answer span {
  margin: 0 10px;
  display: block;
}
#quiz .answer:hover figure img {
  opacity: 1;
}
#quiz .answer figure {
  margin: 0 10px 5px 10px;
}
#quiz .answer figure + span {
  margin: 0 10px 10px 10px;
}
#quiz #share {
  overflow: auto;
  text-align: center;
}
#quiz #share li {
  display: inline;
  width: auto;
  font-size: 70%;
}
#quiz #share li a {
  color: #555;
  text-decoration: none;
}
#quiz #share li a:hover {
  text-decoration: underline;
}
@media (min-width: 500px) {
  #quiz .answer {
    padding: 15px 0;
  }
}
