<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Quizmaker</title>
        <meta name="description" content="Does what it says on the can.">
        <meta name="viewport" content="width=device-width">

        <script src="../../assets/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>

        <link rel="stylesheet" type="text/css" href="../../assets/css/normalize.min.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/main.css">

    </head>
    <body>

        <h1>Quizmaker</h1>
        <ol id="quiz">
            <li><dl>
                <dt><img src="http://dummyimage.com/400x16:9" alt="Toot">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in laoreet neque?</h3></dt>
                <dd class="answer answer-01">
                    <img src="http://dummyimage.com/400x4:3" alt="Lorem ipsum"><br>
                    <span>Cras ligula tellus?</span></dd>
                <dd class="answer answer-02">
                    <img src="http://dummyimage.com/400x4:3" alt="Lorem ipsum"><br>
                    <span>Donec at felis aliquam.</span></dd>
                <dd class="answer answer-03">
                    <img src="http://dummyimage.com/400x4:3" alt="Lorem ipsum"><br>
                    <span>Integer eu accumsan risus.</span></dd>
                <dd class="answer answer-04">
                    <img src="http://dummyimage.com/400x4:3" alt="Lorem ipsum"><br>
                    <span>Etiam tortor enim.</span></dd>
            </dl></li>

            <li><dl>
                <dt><img src="http://dummyimage.com/400x16:9" alt="Toot">
                    <h3>Lorem?</h3></dt>
                <dd class="answer answer-01">
                    <img src="http://dummyimage.com/400x4:3" alt="Lorem ipsum"><br>
                    <span>Ultricies dui vel!</span></dd>
                <dd class="answer answer-02">
                    <img src="http://dummyimage.com/400x4:3" alt="Lorem ipsum"><br>
                    <span>Consequat augue.</span></dd>
                <dd class="answer answer-03">
                    <img src="http://dummyimage.com/400x4:3" alt="Lorem ipsum"><br>
                    <span>Cunt.</span></dd>
                <dd class="answer answer-04">
                    <img src="http://dummyimage.com/400x4:3" alt="Lorem ipsum"><br>
                    <span>Double Cunt.</span></dd>
            </dl></li>

            <li><dl>
                <dt><img src="http://dummyimage.com/400x16:9" alt="Toot">
                    <h3>Fusce at ipsum quis ligula aliquet sollicitudin eget ut ante?</h3></dt>
                <dd class="answer answer-01">
                    <img src="http://dummyimage.com/400x4:3" alt="Lorem ipsum"><br>
                    <span>Donec a sapien auctor?</span></dd>
                <dd class="answer answer-02">
                    <img src="http://dummyimage.com/400x4:3" alt="Lorem ipsum"><br>
                    <span>Duis sollicitudin elit vel eros pellentesque rhoncus.</span></dd>
                <dd class="answer answer-03">
                    <img src="http://dummyimage.com/400x4:3" alt="Lorem ipsum"><br>
                    <span>Sed pretium enim ut orci varius vulputate.</span></dd>
                <dd class="answer answer-04">
                    <img src="http://dummyimage.com/400x4:3" alt="Lorem ipsum"><br>
                    <span>Bibendum!</span></dd>
            </dl></li>

            <li><dl>
                <dt><img src="http://dummyimage.com/400x16:9" alt="Toot">
                    <h3>Aliquam suscipit orci vitae tempus faucibus?</h3></dt>
                <dd class="answer answer-01">
                    <img src="http://dummyimage.com/400x4:3" alt="Lorem ipsum"><br>
                    <span>Doodle!</span></dd>
                <dd class="answer answer-02">
                    <img src="http://dummyimage.com/400x4:3" alt="Lorem ipsum"><br>
                    <span>Ut tempus nulla ut erat fermentum euismod.</span></dd>
                <dd class="answer answer-03">
                    <img src="http://dummyimage.com/400x4:3" alt="Lorem ipsum"><br>
                    <span>Etiam non dolor.</span></dd>
                <dd class="answer answer-04">
                    <img src="http://dummyimage.com/400x4:3" alt="Lorem ipsum"><br>
                    <span>Nullam blandit!</span></dd>
            </dl></li>
        </ol>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/jquery-1.10.1.min.js"><\/script>')</script>
        <script src="../assets/js/main.js"></script>
        <!--
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        -->
    </body>
</html>
